/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

.form {
  display: flex;
  justify-content: space-between;
  border: 1px solid #ddd;
  padding-bottom: 8px;
}

.lnk {
  cursor:pointer;
  padding:15px;
}

.modal {
  display: block;
  background-color: #0008;
}